nav {
	background-color: #bf1224;
	padding: 8px;
	color: white;
	font-weight: 700;
}
nav div {
	display: flex;
	flex-direction: row;
	margin-left: 5%;
	margin-right: 5%;
}
nav div input {
	margin: 16px;

}
nav div label {
	color: white;
	margin: 16px;
}
nav div button {
	height: 24px;
	background-color: white;
	color: #717171;
	border-radius: 2px;
	margin: 16px;
}
body {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	margin: 0px;
}
h2 {
	font-size: 2.4em;
	color: #717171;
	margin-left: 5%;
}
label {
	color: #636363;
	font-size: 1em;
}
table {
	width: 92%;
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 12px;
	margin-bottom: 12px;
}
td {
	text-align: center;
}
a:hover {
	cursor: pointer;
}
.signup {
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	width: 90%;
	margin-left:5%;
	margin-right:5%;
	height: auto;
	justify-content: space-around;
}
.signup .section {
	height: 42px;
	flex: 0 0 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 8px;
	margin-bottom: 8px;
	display: flex;
	flex-direction: row;	
}
.signup .section input {
	flex: 0 1 80%;
}
.signup .section label {
	font-size: .8em;
	flex: 1 0 20%;
	align-self: center;
}
}
.signup .section button, .signup .section h3 {
	font-size: 1.25em;
	flex: 0 0 100%;
	align-self: center;
	text-align: center;
}
.signupBtn {
	width: 200px;
	padding: 8px;
	text-align: center;
	height: 40px;
	color: red;
	margin-top: 24px;
	margin-bottom: 24px;
	margin-left: 5%;
}
.backhome {
	margin: 8px;
	padding: 8px;
	text-align: center;
	width: 200px;
	height: 40px;
	border-radius: 1px;
	border: 1px solid #c3c3c3;
}

.ballot {
	margin-left: 5%;
	padding: 8px;
}
.writein {
	margin-left: 24px;
	color: red;
}
.writein::after {
	content: 'write in';
}