<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	lang="en"
	data-framework="angular-js">
	<title> Voting </title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"></link>
	<link href="css/app.css" rel="stylesheet"></link>
	<script type="text/javascript" src="js/libs/angular.js"></script>
	<script type="text/javascript" src="js/libs/angular-route.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers/homeControl.js"></script>
	<script type="text/javascript" src="js/controllers/electionControl.js"></script>
	<script type="text/javascript" src="js/controllers/ballotControl.js"></script>
		<script type="text/javascript" src="js/controllers/resultsControl.js"></script>
	<body ng-app="voting">
	<ng-view />
	<script type="text/ng-template" id="home.html">
		<div class="header">
			<h1> Vote Online </h1>
			<button ng-click="toggle()"> <span ng-class="{hide: reg}"> log in </span> <span ng-class="{hide: !reg}"> register </span> </button>
		</div>
		<div ng-class="{hide: reg}">
			<h2> Register to Vote </h2>
			<label> Full Name </label> <input type="text" ng-model="newVoter.name"/>
			<label> Password </label> <input type="password" ng-model="newVoter.password"/>
			<label> Region </label>
			<select ng-model="newVoter.region" ng-options="x for x in regions"></select>
			<button ng-click="register()"> sign up </button>
		</div> 
		<div ng-class="{hide: !reg}">
			<h2> Log In </h2> 
			<label> Full Name </label> <input type="text" ng-model="voter.name"/>
			<label> Password </label> <input type="password" ng-model="voter.password"/>
			<button ng-click="login()"> log in </button>
		</div>
	</script>
	<script type="text/ng-template" id="election.html">
		<h1> Elections </h1>
		<p class="error" ng-model="error">{{error}} </p>
		<table>
			<tr>
			    <th>ID</th>
			    <th>Start Date</th>
			    <th>End Date</th>
			</tr>
			<tr ng-click="goToElection(e.id)" ng-repeat="e in elections">
			    <td> {{e.id}} </td>
			    <td> {{e.startDate}} </td>
			    <td> {{e.endDate}} </td>
			</tr>
		</table>
		<button ng-click="logout()"> logout </button>
	</script>
	<script type="text/ng-template" id="ballot.html">
		<h1> Ballot #{{ballotId}} </h1>
		<div class="ballot">
			<div class="question" ng-repeat="q in questions">
				<h2>#{{q.q.id + ". " + q.q.body }} </h2>
				<p> {{q.q.type }} </p>
				<ol>
					<li ng-repeat="c in q.candidates">
					<input type="radio" name="c.id" ng-show="q.q.type === 'yes or no'" /><label ng-show="q.q.type === 'yes or no'">{{c.body}}</label>
					<input type="checkbox" ng-show="q.q.type === 'pick two'"/><label ng-show="q.q.type==='pick two'">{{c.body}}</label>
					<select ng-model="answers[c.id]" ng-options="q.candidates.indexOf(x) for x in q.candidates" ng-show="q.q.type === 'instant runoff'"/><label ng-show="q.q.type === 'instant runoff'"> {{c.body}} </label>
					</li>
					<li ng-if="q.q.type === 'pick two'">
						<input type="checkbox"/><input class="writein" type="text" value="write-in"/>
					</li>
					<li ng-if="q.q.type === 'instant runoff'">
						<select ng-model="answers[c.id]" ng-options="q.candidates.indexOf(x) for x in q.candidates"/><input class="writein" type="text" value="write-in"/>
					</li>
				</ol>
			</div>
			<button>Submit your ballot </button>
			<p> You can resubmit your vote at any point before the election close date. </p>
		</div>
	</script>
	<script type="text/ng-template" id="results.html">
		<div>
			<h1> Results </h1>
			<button ng-click="logout()" ng-class="{hide: !vwt}"> Log out </button>
		</div>
	</script>
	</body>
	</html>