<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	lang="en"
	data-framework="angular-js">
	<title> Voting </title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"></link>
	<link href="css/app.css" rel="stylesheet"></link>
	<script type="text/javascript" src="js/libs/angular.js"></script>
	<script type="text/javascript" src="js/libs/angular-route.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers/homeControl.js"></script>
	<script type="text/javascript" src="js/controllers/electionControl.js"></script>
	<script type="text/javascript" src="js/controllers/ballotControl.js"></script>
	<script type="text/javascript" src="js/controllers/resultsControl.js"></script>
	<script type="text/javascript" src="js/controllers/winnerControl.js"></script>
	<body ng-app="voting">
	<ng-view />


	<script type="text/ng-template" id="home.html">
		<div class="header">
			<h1> Vote Online </h1>
			<p class="error">{{error}}</p>
			<div class="row">			
			<span class="gray"> Sign In </span>
			<label class="switch" >
  				<input type="checkbox">
  				<div ng-click="toggle()" class="slider round"></div>
  				</input>
			</label>			
			<span class="blue"> Register </span>
			</div>
		</div>
		<div class="register">
		<div ng-class="{hide: reg}">
			<h2> Register to Vote </h2>
			<label> Full Name </label> <input type="text" ng-model="newVoter.name"/>
			<label> Password </label> <input type="password" ng-model="newVoter.password"/>
			<label> Region </label>
			<select ng-model="newVoter.region" ng-options="x for x in regions"></select>
			<button ng-click="register()"> sign up </button>
		</div> 
		<div ng-class="{hide: !reg}">
			<h2> Log In </h2> 
			<label> Full Name </label> <input type="text" ng-model="voter.name"/>
			<label> Password </label> <input type="password" ng-model="voter.password"/>
			<button ng-click="login()"> log in </button>
		</div>
		</div>
	</script>


	<script type="text/ng-template" id="election.html">
		<div class="header">
			<h1> Elections </h1>
			<p class="username" ng-class="{hide: !loggedin}">  {{ username }} </p>
			<button ng-class="{hide: !loggedin}" class="logout" ng-click="logout()"> logout </button>
		</div>
		<p class="error" ng-model="error">{{error}} </p>
		<table>
			<tr>
			    <th>ID</th>
			    <th>Start Date</th>
			    <th>End Date</th>
			</tr>
			<tr ng-click="goToElection(e.id)" ng-repeat="e in elections">
			    <td> {{e.id}} </td>
			    <td> {{e.startDate}} </td>
			    <td> {{e.endDate}} </td>
			</tr>
		</table>

	</script>


	<script type="text/ng-template" id="ballot.html">
		<div class="header">
			<p class="username" ng-class="{hide: !loggedin}">{{ username }} </p>		
			<h1> Ballot #{{ballotId}} </h1>
			<button ng-class="{hide: !loggedin}" class="logout" ng-click="logout()"> logout </button>
		</div>
		<div class="ballot">
			<p class="error">{{error}}</p>
			<div class="question" ng-repeat="q in questions">
				<h2>#{{q.q.id + ". " + q.q.body }} <span> {{q.q.type }} </span> </h2>
				
				<div class="row" ng-repeat="c in q.candidates">
					<label ng-show="q.q.type === 'yes or no'">{{c.body}}</label>
					<input ng-value="c.id" ng-model="answers[q.q.id]['id']" type="radio" ng-show="q.q.type === 'yes or no'" />
					<label ng-show="q.q.type==='pick two'">{{c.body}}</label>
					<input value="true" type="checkbox" ng-model="answers[q.q.id][c.id]" ng-change="checkbox(c, q.q.id)" ng-show="q.q.type === 'pick two'"/>
					<label ng-show="q.q.type === 'instant runoff'"> choice {{q.candidates.indexOf(c) + 1}} </label>
					<select ng-value="q.candidates.indexOf(c)+1" ng-model="answers[q.q.id][c.id]" ng-options="x.body for x in q.candidates" ng-show="q.q.type === 'instant runoff'"/>
				</div>
				<div class="row" ng-show="q.q.type === 'pick two' || q.q.type === 'instant runoff'">
					<label> Write-in Candidate name: </label>
					<input class="writein" ng-model="q.candidates[q.candidates.length-1].body" type="text" />
				</div>
				<hr></hr>
			</div>
			<button ng-click="vote()"> Submit your ballot </button>
		</div>
	</script>


	<script type="text/ng-template" id="results.html">
		<div>
			<div class="header">
				<p class="username" ng-class="{hide: !loggedin}">  {{ username }} </p>		
				<h1> Votes </h1>
				<button ng-class="{hide: !loggedin}" class="logout" ng-click="logout()"> logout </button>
			</div>
			<table>
			<tr>
			    <th>ID</th>
			    <th>Question</th>
			    <th>Candidate</th>
			    <th>Rank</th>
			</tr>
			<tr ng-repeat="vr in voteresults" ng-click="winner(vr.questionId)">
			    <td> {{vr.id}} </td>
			    <td> {{vr.question}} </td>
			    <td> {{vr.candidate}} </td>
			    <td> {{vr.rank}} </td>
			</tr>
		</table>
		</div>
	</script>


	<script type="text/ng-template" id="winner.html">
		<div class="header">
			<p class="username" ng-class="{hide: !loggedin}">  {{ username }} </p>	
			<button ng-class="{hide: !loggedin}" class="logout" ng-click="logout()"> logout </button>
			<h1> {{ question }}  </h1>
		</div>
		<table>
			<tr>
				<th> Candidate </th>
				<th> Votes </th>
			</tr>
			<tr ng-repeat="c in candidates">
				<td> {{c.body }}</td>
				<td> {{c.id }} </td>
			</tr>
		</table>
		<p> winner: {{ winner }} </p>
		<p> total votes: {{totalvotes}} </p>
		<p> winning percentage: {{ winningpercentage }} </p>
	</script>


</body>
</html>